:root{
    --bg-color: rgb(180, 213, 255, 0.8);
    --border-color: #213555;
}


table {
    /* 각 셀의 크기를 균등하게 하기 */
    table-layout: fixed;
    width: 100%;
    /* 테이블 선 사이에 간격없애기 */
    border-collapse: collapse; 
    border: 2px solid var(--border-color)
}
th,
td {
    border: 1px solid var(--border-color);
    text-align: center;
    padding : 6px 20px;
}

th {
    background-color: rgb(180, 213, 255, 0.8);
}

caption {
    caption-side: bottom;
    margin-top: 10px;
}

tfoot {
    font-weight: bold;
}
